.container, .item{
    margin-inline: 40px;
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 150px;
}
img{
    border-radius: 50%;
    width: 300px;
    height: 300px;
}
.text h2{
    margin-bottom: 30px;
    font-size: 30px;
}
.text p{
    line-height: 20px;
    max-lines: 3;
    width: 500px;
    margin-bottom: 30px;
}
.text button{
    background-color: #663399;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
}
.text button:hover{
    cursor: pointer;
}
.text .price span{
    color: #663399;
}
.desc{
    color: #663399;
}
button{
    height: 35px;
    width: 100px;
    background-color: #663399;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
}
.btn{
    display: flex;
    gap: 50px;
}

.btn .delete{
    background-color: red !important;
}