{% extends "../base.html" %}
{% load static %}

{% block title %}
  | Items
{% endblock title %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/core/item.css' %}">
{% endblock links %}

{% block content %}

<nav>
  <h3>Django-CRUD Kit</h3>
  <ul>
      <li><a href="{% url 'read_items' %}">Item</a></li>
      <li><a href="{% url 'create_category' %}">Category</a></li>
      <img class="image" src="{{ user.profile_image.url }}" alt="username">
  </ul>
</nav>

<section class="item">
  <img src="{{ item.image.url }}" alt="crud image">
  <div class="text">
      <h2> Name: {{ item.name }}</h2>
      <p>
          <span class="desc">Description</span>: {{ item.description }}
      </p>
      <p class="price">Price: <span>${{ item.price }}</span></p>
      <div class="btn">
        <a href="{% url 'update_item' item.id %}"><button class="update">Update</button></a>
        <a href="{% url 'delete_item' item.id %}"><button class="delete">Delete</button></a>
      </div>
  </div>
</section>
  
{% endblock content %}